@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% { background-color: #f56565; } /* Start with a red background */
    25% { background-color: #b0b4bb; } /* Transition to black */
    50% { background-color: #f56565; } /* Return to red */
    75% { background-color: #b0b4bb; } /* Transition back to black */
    100% { background-color: #f56565; } /* End with a red background */
}

@keyframes color-change {
    0% { bacground-color: #f56565; }
    28% { bacground-color: #00ff5e; }
    56% { bacground-color: #00b3ff; }
    100% { bacground-color: #ff0000; } 
}

.blink {
    animation: blink 2s infinite ease-in-out; /* Apply the blink animation with a smoother transition */
}
.color-change {
    animation:color-change 10s infinite ease-in-out; /* Apply the blink animation with a smoother transition */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* For IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
/* Define the keyframes for the cursor color animation */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollable-content::-webkit-scrollbar {
    background-color: transparent;
}
.scrollable-content::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
.scrollable-content::-webkit-scrollbar-thumb {
    background-color: rgb(69,69,69); /* Color for the scrollbar thumb */
    border-radius: 6px; /* Roundness of the thumb */
    height: 100px;
}
